In [ ]:
#datatypes , int , float, string, 
#identifiers
#different system-defined functions - print, input, type
#IDLE
#smart editor Jupiter Notebook
#simple pgm - to find out the area of circle , area of rectangle and square, stud mks calc
#comments - single line and the multiline comments
#escape sequences - \t and \n

In [1]:
a=67
b=34.2
c="Python"
a>b

True

In [2]:
print(a)
print(b)
print(c)

67
34.2
Python

In [5]:
print(type(a))
print(type(b))
print(type(c))
print(type(a>b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [9]:
# using input() function along with the datatypes
name=input("enter the name of the student")
mk1=int(input("enter the 1st test"))
mk2=int(input("enter the 2nd test"))
mk3=int(input("enter the 3rd test"))
total=mk1+mk2+mk3
print("total mks of -","name", total, name)
""" this program calculates the total of the marks
I hope you understood it"""

enter the name of the student abc
enter the 1st test 78
enter the 2nd test 89
enter the 3rd test 90

total mks of - name 257 abc

' this program calculates the total of the marks\nI hope you understood it'

In [10]:
print(id(a))

140722801988088

In [13]:
b1ab=56
b1ab

56

In [14]:
a=b=c=90

In [15]:
print(a)
print(b)

90
90

In [16]:
x,y,z=20,30,40
print("x \t y \t z are",x,y,z)

x 	 y 	 z are 20 30 40

In [22]:
x=math.sqrt(9)
print(x)

3.0

In [21]:
import math
y=math.ceil(34.7)
print(y)

35

In [24]:
z=math.floor(34.2)
print(z)

34

In [25]:
a

90

In [26]:
del a

In [27]:
a

NameError: name 'a' is not defined

In [30]:
"""relational operators,they allow us to maintain the relationship between 
more than one variable/expression"""
#> >= <  <=  ==  !=
a=10
b=20

print(a==b)  #relational op
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

False
False
True
False
True
True

In [31]:
a=b 
print(a)

20

In [ ]:
#sequential 
#conditional
#iteration

In [ ]:
#if condition
'''if <condition>:
    statement'''   #syntax of if condition

In [35]:
p=10
if p>0:
    print("it is a positive no.")

it is a positive no.

In [39]:
p=int(input("enter the value for p"))
if p>0:   #identation op
    print("p is positive")
else:
    print("p is negative")

enter the value for p 45

p is positive